<div>
    <article itemscope itemtype="http://schema.org/NewsArticle">
        <!-- TODO: SEO undefined -->
        <!-- <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" [attr.itemid]="seo.url" /> -->
        <a itemprop="headline" href="blog/{{post._id}}" rel="bookmark" class="post-title" title="{{post.title}}">{{post.title}}</a>
        <hr>
        <ul class="blog-meta-list">
            <li itemprop="author" itemscope itemtype="https://schema.org/Person" *ngIf="post.user_name">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> By <span itemprop="name">{{post.user_name}}</span>
            </li>
            <li id="datePublished" class="date">
                <meta itemprop="datePublished" content="{{post.createdAt | date:'yyyy-MM-ddTHH:mm:ss.sssZ'}}" />
                <meta itemprop="dateModified" content="{{post.updatedAt | date:'yyyy-MM-ddTHH:mm:ss.sssZ'}}" />
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{post.createdAt | date:'MM/dd/yyyy'}}
            </li>
            <li class="comments" property="discussionUrl">
                <a href="/blog/{{post._id}}" class="btn btn-primary" type="button">
                     Comments  <span class="badge disqus-comment-count" [attr.data-disqus-url]="disqusUrl"></span>
                    </a>
            </li>
            <li class="tags" property="keywords" *ngIf="post.keywords.length">
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <a *ngFor="let keyword of post.keywords" class="btn btn-default btn-sm keywords" href="/blogKeyword/{{keyword.text}}">{{keyword.text}}</a>
            </li>
            <li>
                <!-- <add-to-any *ngIf="post._id" title="{{post.title}}" url="/blog/{{post._id}}"></add-to-any> -->
            </li>
        </ul>
        <br>
        <!-- <blockquote itemprop="description" ng-bind-html="post.headingQuote"></blockquote>
     -->
        <br>
        <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject" *ngIf="post.photo">
            <meta itemprop="url" content="{{post.photo}}">
            <meta itemprop="width" content="200">
            <meta itemprop="height" content="200">
            <a href="/blog/{{post._id}}">
                <!-- <b-img public-id="{{post.photo}}" transformation="w_200,h_200,c_fit" alt="{{post.title}}" class="img-responsive center-block"></b-img> -->
            </a>
        </figure>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://www.preservedfw.com/assets/Preserve_US_nav_bar.png">
                <meta itemprop="width" content="76">
                <meta itemprop="height" content="99">
            </div>
            <meta itemprop="name" content="Preserve US">
        </div>
        <br>
        <p ng-bind-html="post.postHtml | sanitize" class="post-html">
            {{post.postHtml}}
        </p>
    </article>
</div>