<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <h3>Site</h3>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
                    <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <h3>Social</h3>
                <ul class="social-links">
                    <li>
                        <a href="https://www.linkedin.com/in/erickizaki" target="_blank">
                                <span class="fa-stack">
                                  <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span> LinkedIn
                            </a>
                    </li>
                    <li>
                        <a href="https://github.com/KamiMoon" target="_blank">
                                <span class="fa-stack">
                                  <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span> GitHub
                            </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Contact</h3>
                <ul>
                    <li><a href="mailto:erickizaki@gmail.com">erickizaki@gmail.com</a> </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="cold-md-12">
                <hr>
                <div id="footer-author">Eric Kizaki 2017</div>
            </div>
        </div>
        <a id="go-to-top" href="#"></a>
    </div>
    <br />
</footer>